## 1. Write a program to accept percentage from the user and display the grade according to the following

Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [5]:
grade = int(input("enter grades to find the percentage"))

if grade > 90:
    print("the percentage is ","A")
elif grade > 80 and grade <=90:
    print("the percentage is ","B")
elif grade >=60 and grade <=80:
    print("the percentage is ","C")
else:
    print("the percentage is ","D")

enter grades to find the percentage 55

the percentage is  D

## 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [ ]:
Tax                      cost price(in Rs)
15%                      >1000000
10%                      >50000 and <=100000
5%                       < = 50000

In [13]:
price = int(input("enter grades to find the percentage"))

if price > 1000000:
    print("the Tax is ",15,"%")
elif price > 50000 and grade <=1000000:
    print("the Tax is ",10,"%")
elif price <= 50000:
    print("the Tax is ",5,"%")

enter grades to find the percentage 45000

the Tax is  5 %

## 3. Accept any city from the user and display monuments of that city.

In [ ]:
City                    Monument
Delhi                   Red Fort
Agra                    Taj Mahal
Jaipur                  Jai Mahal

In [20]:
city = input("enter the city to find out the monument---")

if city == "Delhi":
    print("The monument of ",city,"is ","Red Fort")
elif city == "Agra":
    print("The monument of ",city,"is ","Taj Mahal")
elif city == "Jaipur":
    print("The monument of ",city,"is ","Jai Mahal")    
    
elif city not in ("Delhi","Agra","Jaipur"):
    print("Wrong choice please enter available city like Delhi , Agra  or Jaipur")

enter the city to find out the monument--- Up

Wrong choice please enter available city like Delhi , Agra  or Jaipur

## 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [40]:
count = 0
for i in range(1,11):
    if i%3 == 0:
        count=count+1
        
print("count is ",count)

count is  3

## 5. Why and When to Use while Loop in Python give a detailed description with example

In [41]:
# the purpose of using while loop to itrate the items again and again so that we can save time 
# where we are doing the same task we need to itrate the itrate the items or elements

i = 1
while i<=10:
    print(5*i,end=" " )
    i=i+1

5 10 15 20 25 30 35 40 45 50

## 6. Use nested while loop to print 3 different pattern.

In [27]:
#pattern 1
for i in range(5):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [31]:
#pattern 2
for i in range(5,-1,-1):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [35]:
#pattern 3
for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## 7. Reverse a for loop to display numbers from 10 to 1.

In [21]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## 8. Reverse a while loop to display numbers from 10 to 1

In [25]:
i = 10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1