### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [16]:
import pandas as pd

In [4]:
s1 = pd.Series([4,8,15,16,23,42])
type(s1)
print(s1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
l = [1,2,3,4,5,6,7,8,9,19]

print(pd.Series(l))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    19
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
Name = ['Alice','Bob','Claire']
Age = [25,30,27]
Gender = ['Female','Male','Female']

pd.DataFrame({'Name':Name,
             'Age':Age,
             'Gender':Gender})

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [11]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [12]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [17]:
import pandas as pd
df = pd.read_csv("services.csv")

In [19]:
df.head(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN

In [20]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [22]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All the data structure in pandas are mutable

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [23]:
import pandas as pd

#define three Series
row1 = pd.Series(['A', 34, 8])
row2 = pd.Series(['B', 20, 12])
row3 = pd.Series(['C', 21, 14])

In [24]:
#create DataFrame using Series as rows
df = pd.DataFrame([row1, row2, row3])

#create column names for DataFrame
df.columns = ['col1', 'col2', 'col3']

#view resulting DataFrame
print(df)

  col1  col2  col3
0    A    34     8
1    B    20    12
2    C    21    14